<div class="com_top_nav">
    <div class="width1200">
        <div class="city_sel">
            <div class="city_item">
                <span>城市：<label class="city_name">武汉</label></span>
                <i class="sprite sprite-arrowDown1"></i>
            </div>
            <div class="city_list">
                <a href="javascript:;">上海</a>
                <a href="javascript:;">南京</a>
                <a href="javascript:;">无锡</a>
                <a href="javascript:;">武汉</a>
                <a href="javascript:;">长沙</a>
                <a href="javascript:;">合肥</a>
                <a href="javascript:;">苏州</a>
                <a href="javascript:;">南昌</a>
                <a href="javascript:;">扬州</a>
                <a href="javascript:;">张家港</a>
                <a href="javascript:;">连云港</a>
            </div>
        </div>
        <div class="com_top_hello">
            <span>您好！欢迎来到物集港！</span>
        </div>
        <div class="com_top_link">
            <!-- <a href="/" class="marginR60 grayTxt2"><i class="sprite top_home"></i>物集港首页</a> -->
            <a href="#" class="marginR24 grayTxt2">登录</a>
            <a href="#" class="blueTxt">注册</a>
        </div>
        <div class="com_top_menu">
            <a class="grayTxt2" href="javascript:;">我的物集港</a>
            <span>|</span>
            <a class="grayTxt2" href="javascript:;">账号管理</a>
            <span>|</span>
            <a class="grayTxt2" href="javascript:;">手机APP</a>
            <span>|</span>
            <div class="custom_service">
                <span>客服热线：</span>
                <span>027-52301080 (8:30-17:00)</span>
            </div>
        </div>
    </div>
</div>