/**top公共顶部样式**/
.com_top_nav {
    width: 100%;
    height: 38px;
    line-height: 38px;
    background-color: #EDF1F5;
}

.com_top_nav .width1200 {
    margin: 0 auto;
}

.com_top_nav .com_top_link, .com_top_nav .com_top_hello {
    float: left;
    margin-left: 24px;
}

.com_top_link a {
    font-size: 12px;
}

.com_top_link a.com_top_reg {
    color: #666666;
}

.com_top_menu {
    float: right;
}

.com_top_menu a {
    font-size: 12px;
}

.com_top_menu span {
    margin: 0 10px;
    color: #E0E0E0;
}

.marginR60 {
    margin-right: 60px;
}

.custom_service {
    display: inline;
}

.custom_service span {
    color: #666;
    margin: 0;
}

/* 城市选择 */
.city_sel {
    float: left;
    position: relative;
}

.city_item {
    position: relative;
    padding: 0 8px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #f6f6f6;
    z-index: 10;
    cursor: default;
}

.city_list {
    position: absolute;
    top: 31px;
    left: 0;
    width: 300px;
    padding: 10px 8px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 2px rgba(221, 221, 221, 0.2);
    background: #fff;
    z-index: 8;
    display: none;
}

.city_list a {
    display: inline-block;
    width: 45px;
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
    margin: 2px 5px 2px 5px;
}

.city_list a:hover {
    color: #333;
    background-color: #f4f4f4;
}

.city_list .selected {
    background-color: #005BAC;
    color: #fff;
}

.city_list .selected:hover {
    background-color: #005BAC;
    color: #fff;
}

/**menu样式展示**/
.com_header_nav {
    width: 100%;
    height: 159px;
}

.com_header_nav .com_header_logo {
    height: 124px;
    margin: 0 auto;
}

.com_header_logo .logo {
    width: 200px;
    height: 80px;
    margin-top: 22px;
    background: url(../imgs/top/logo.jpg);
    background-size: cover;
}

.com_header_logo .searchFra {
    width: 600px;
    height: 78px;
    margin-top: 30px;
    margin-left: 110px;
    position: relative;
}

.searchFra .searchType {
    height: 28px;
}

.searchFra .searchType ul {
    display: inline-block;
}

.searchFra .searchType ul li {
    width: 54px;
    height: 28px;
    line-height: 28px;
    float: left;
    text-align: center;
    font-size: 14px;
}

.searchFra .searchType ul li a {
    color: #333333;
}

.searchFra .searchType ul li.active {
    background-color: #1E2745;
}

.searchFra .searchType ul li.active a {
    color: #ffffff;
}

.com_header_logo .search {
    width: 596px;;
    height: 36px;
    border: solid 2px #1E2745;
    position: absolute;
}

.com_header_logo .search .searchWrap {
    border-right: 1px solid #E0E0E0;
}

.search .searchWrap .searchCurVal {
    display: inline-block;
    width: 75px;
    height: 36px;
    line-height: 36px;
}

.searchWrap .searchCurVal .searchCurTxt {
    font-size: 18px;
    color: #666666;
}

.com_header_logo .search .searchBox {
    width: 536px;
    outline: none;
    height: 18px;
    line-height: 18px;
    padding: 9px !important;
    border: none;
    font-size: 14px;
    margin-left: 24px;
}

.com_header_logo .search .searchBtn {
    width: 90px;
    height: 36px;
    background-color: #1E2745;
    outline: none;
    border: none;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.com_header_logo .header_cart {
    position: relative;
    width: 160px;
    height: 40px;
    background-color: #F4F4F4;
    float: right;
    margin-top: 58px;
    cursor: pointer;
}

.com_header_logo .header_cart span {
    display: inline-block;
    font-size: 14px;
    vertical-align: 3px;
    margin-left: 10px;
}

i.cart_num {
    display: inline-block;
    width: 20px;
    height: 18px;
    background-color: #ff5959;
    border-radius: 10px;
    vertical-align: 14px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding-top: 2px;
}

.com_header_logo .header_publish {
    background-color: #5fb21c;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 58px 0px 0px 15px;
    font-size: 14px;
}

.com_header_logo .header_publish span {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #fff;
    cursor: pointer;
}

.header_publish_li {
    display: none;
}

.drop_hover .header_publish_li {
    display: block;
}

.com_header_logo .header_publish .header_publish_li li a {
    position: relative;
    z-index: 3;
    display: block;
    background-color: #f4f4f4;
    width: 100px;
    text-align: center;
}

.com_header_nav .com_header_bg {
    width: 100%;
    background-color: #1E2745;
}

.com_index_menu {
    width: 100%;
}

.com_header_menu {
    height: 45px;
    margin: 0 auto;
}

.com_header_menu .header_menuList {
    float: left;
    height: 100%;
}

.com_header_bg .header_menuList li {
    margin-right: 116px;
}

.header_menuList li {
    float: left;
    margin-right: 80px;
}

.com_header_bg .header_menuList .last, .header_menuList .last {
    margin-right: 0;
}

.header_menuList a {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
}

.header_menuList li a.active {
    color: #005BAC;
}

.com_header_bg li a {
    color: #fff;
}

.com_header_bg .header_menuList li a:hover {
    color: #005BAC;
}

/* 下拉菜单通用部分 */
.header_menuList .categorys {
    float: left;
    width: 180px;
    height: 45px;
    overflow: visible;
    background-color: #005BAC;
    margin-right: 36px;
    position: relative;
}

.categorys .dt_all a {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

/* 针对首页区域下拉菜单 */
.categorys .dd_separate, .categorys .dd_mask {
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 111;
}

.categorys .dd_inner, .dd_mask {
    width: 180px;
    height: 382px;
    overflow: hidden;
}

.categorys .dd_mask {
    background-color: #fff;

}

/* 下拉菜单通用部分 */
.categorys .dd_item a {
    position: relative;
    display: block;
    width: 180px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border: none;
}
.categorys .dd_item a.act{
    box-shadow: 0 0 12px 0 hsla(0,0%,77%,.5);
    background: #fff;
    z-index: 1;
}

.categorys .dd_item i {
    margin-left: 38px;
}

.categorys .dropdown_layer {
    position: absolute;
    top: 0;
    left: 180px;
    background-color: #fff;
    width: 488px;
    padding: 20px 0;
    box-shadow: 0 0 16px 0 hsla(0, 0%, 77%, .5);
    display: none;
}

.dropdown_layer .layer_list {
    float: left;
    width: 128px;
    min-height: 330px;
    padding-top: 8px;
    border-right: 1px solid #e5e5e5;
}

.categorys .layer_sub {
    float: left;
    width: 336px;
    margin-left: 20px;
    margin-top: 10px;
    display: none;
}

.dropdown_layer .layer_list li {
    float: none;
    margin-right: 0;
}

.dropdown_layer .layer_list a {
    font-size: 14px;
    margin-left: 20px;
    line-height: 125%;
}

.layer_list .active i {
    margin-left: 20px;
}

.categorys .sub_item {
    padding-bottom: 26px;
}

.categorys .sub_item p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.categorys .sub_item div {
    width: 100%;
}

.categorys .layer_sub .sub_item a {
    display: inline-block;
    height: 100%;
    line-height: 100%;
    font-size: 12px;
    color: #999;
    margin-right: 16px;
    margin-bottom: 6px;
}

.categorys .a_btn a {
    padding: 3px 6px;
    border: 1px solid #c9c9c9;
}

.categorys .sub_item .a_btn a:hover {
    color: #fff;
    background-color: #005BAC;
    border: 1px solid #005BAC;
}

.categorys .sub_item a:hover {
    color: #005BAC;
}

.focus_extra {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.focus_box {
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 111;
    width: 270px;
    height: 316px;
    padding: 24px 15px;
    background-color: #fff;
    border-radius: 5px;
}

.news_title {
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E5E5;
}

.news_title a {
    float: right;
    margin-top: 4px;
}

.focus_news {
    height: 180px;
    overflow: hidden;
}

.focus_news li {
    width: 270px;
    padding-top: 16px;
    height: 14px;
}

.focus_news .square {
    display: inline-block;
    width: 0;
    height: 0;
    border: 1px solid #9a9a9a;
    vertical-align: 4px;
    margin-right: 4px;
}

.focus_news .news_container {
    display: block;
}

.focus_news .news_container:hover span {
    color: #005BAC;
}

.focus_news .news_content {
    display: inline-block;
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.focus_news .date {
    float: right;
    color: #999;
}

.trade_volume {
    height: 50px;
    margin: 16px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.trade_volume p {
    font-size: 14px;
    color: #333;
    line-height: 50px;
}

.trade_volume p span {
    font-weight: 700;
    color: #005BAC;
}

.express_way {
    text-align: center;
}

.express_way a {
    display: inline-block;
    margin: 0 15px;
    font-size: 16px;
    color: #333;
    padding: 14px 15px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
}

.express_way a:hover {
    color: #fff;
    background-color: #005BAC;
    border: 1px solid #005BAC;
}

/**footer公共底部样式**/
.com_footer_nav {
    width: 100%;
    padding-bottom: 80px;
    background-color: #F6F6F6;
}

.com_footer_nav .width1200, .com_footer_copyright .width1200, .reg_footer_nav .width1200 {
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
}

.cf_bottom {
    border-bottom: 1px solid #e5e5e5;
}

.add_btw {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.addbtw_item {
    float: left;
    margin: 40px 100px;
}

.addbtw_item h3 {
    font-size: 24px;
    color: #333;
}

.com_footer_nav ul li {
    width: 25%;
    margin-top: 50px;
    float: left;
    padding-top: 10px;
}

.com_footer_nav ul li.fltR {
    width: 15%;
    padding-left: 10%;
}

.com_footer_nav p.footTitle {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}

.com_footer_nav p.footTle {
    font-size: 20px;
    font-weight: 700;
    color: #005BAC;
    padding-top: 10px;
}

.com_footer_nav p.footTime {
    font-size: 14px;
    color: #333333;
    padding-top: 10px;
}

.com_footer_nav a {
    display: block;
    margin-top: 10px;
    color: #666666;
}

.com_footer_nav a:hover {
    color: #005BAC;
}

.com_footer_copyright {
    width: 100%;
    height: 136px;
    min-height: 106px;
    margin-top: 30px;
}

/**全部分类公共样式**/
.index_banner_search {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    z-index: 10;
}

.index_banner_search .banner_search_nav {
    position: absolute;
    width: 650px;
    height: 300px;
    margin-top: 25px;
    background-color: #ffffff;
}

.banner_search_nav ul.search_nav_class {
    width: 114px;
    height: 100%;
    float: left;
}

.search_nav_class li.search_class_cell {
    width: 100%;
    height: 100px;
    background-color: #7A8389;
}

.search_nav_class li.active {
    background-color: #ffffff;
}

.search_nav_class li .menu {
    width: 22px;
    height: 16px;
    vertical-align: -2px;
    background-position: -250px -151px;
}

.search_nav_class li .cart {
    width: 22px;
    height: 22px;
    vertical-align: -5px;
    background-position: -249px -179px;
}

.search_nav_class li .search {
    width: 22px;
    height: 22px;
    vertical-align: -5px;
    background-position: -251px -211px;
}

.search_nav_class li.active .menu {
    width: 22px;
    height: 16px;
    vertical-align: -2px;
    background-position: -276px -151px;
}

.search_nav_class li.active .cart {
    width: 22px;
    height: 22px;
    vertical-align: -5px;
    background-position: -276px -179px;
}

.search_nav_class li.active .search {
    width: 22px;
    height: 22px;
    vertical-align: -5px;
    background-position: -276px -211px;
}

.search_nav_class li.search_class_cell a {
    display: inline-block;
    width: 114px;
    height: 100px;
    line-height: 100px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.search_nav_class li.active a {
    color: #005BAC;
}

.banner_search_nav .search_nav_con {
    width: 440px;
    height: 240px;
    margin: 0 auto;
    margin: 30px;
    padding: 0px 18px;
    float: left;
}

.search_nav_con .search_area_box {
    width: 100%;
}

.search_area_box .type_list {
    position: relative;
    width: 100%;
    height: 82px;
    border-top: solid 1px #c9c9c9;
    border-left: solid 1px #c9c9c9;
    margin-bottom: 15px;
}

.search_area_box .type_list li {
    width: 109px;
    float: left;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #c9c9c9;
    border-right: solid 1px #c9c9c9;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.search_area_box .type_list li.active {
    background-color: #1E2745;
    color: #ffffff;
}

.search_area_box .type_list li.disable {
    background-color: #F4F4F4;
    cursor: default;
}

.search_nav_con .search_area_box span {
    display: inline-block;
    width: 120px;
    padding: 0 10px;
}

.search_nav_con .search_time_box {
    position: relative;
}

.search_nav_con .search_time_box input[type=text] {
    width: 164px;
}

.search_nav_con a.search_btn {
    position: absolute;
    display: inline-block;
    width: 180px;
    height: 44px;
    right: 0px;
    bottom: 24px;
    line-height: 44px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    background-color: #005BAC;
    text-align: center;
}

.search_nav_con ul.search_type {
    width: 100%;
    height: 36px;
}

.search_nav_con ul.search_type li {
    height: 36px;
    line-height: 36px;
    border-bottom: solid #C9C9C9 2px;
    padding: 0 1%;
    font-size: 14px;
    float: left;
    cursor: pointer;
}

.search_nav_con ul.search_type li.active {
    color: #005BAC;
    border-bottom: solid #005BAC 2px;
}

.search_nav_con .search_condition_box {
    position: relative;
    height: 150px;
}

.search_nav_con .search_condition_box .entry {
    width: 210px;
    margin: 15px 0;
    float: left;
}

.search_nav_con .search_condition_box input[type=text] {
    width: 130px;
    border-radius: 4px;
    box-shadow: 0 0 2px #c9c9c9;
}

.search_nav_con .search_condition_box select {
    width: 130px;
    font-size: 14px;
    height: 30px;
    line-height: 24px;
    border: 1px solid #C9C9C9;
    vertical-align: middle;
    padding: 3px 0 4px 10px;
    margin-left: 5px;
    margin-right: 15px;
    box-shadow: 0 0 2px #c9c9c9;
}

.search_condition_box a.search_btn {
    left: 0px;
    bottom: 30px;
}

/**撮合集市中头部类型选择**/
.market_tab_nav {
    position: relative;
    width: 100%;
    height: 120px;
}

.market_tab_nav .market_tab_con {
    width: 1200px;
    margin: 6px auto;
}

.market_tab_nav .market_tab_con li {
    position: relative;
    width: 296px;
    margin-top: 8px;
    float: left;
}

.market_tab_con li a {
    display: inline-block;
    width: 296px;
    height: 110px;
    line-height: 110px;
}

.market_tab_con li a.tabName {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    display: none;
}

.market_tab_con li span {
    display: none;
    position: absolute;
    width: 296px;
    height: 110px;
    top: 0px;
    left: 0px;
    background-image: url("../imgs/index/eq/marketTabBg.png");
}

.market_tab_con li.active span, .market_tab_con li:hover span {
    display: inline-block;
}

.market_tab_con li.active a.tabName, .market_tab_con li:hover a.tabName {
    display: inline-block;
}

.market_tab_con li a.tab1 {
    background: url("../imgs/index/eq/marketTab1.jpg") no-repeat;
}

.market_tab_con li a.tab2 {
    background: url("../imgs/index/eq/marketTab2.jpg") no-repeat;
}

.market_tab_con li a.tab3 {
    background: url("../imgs/index/eq/marketTab3.jpg") no-repeat;
}

.market_tab_con li a.tab4 {
    background: url("../imgs/index/eq/marketTab4.jpg") no-repeat;
}

/**banner所需用到的样式**/
.banner_search_nav .search_nav_main {
    width: 446px;
    list-style-type: square;
    list-style-position: inside;
}

.search_nav_main li {
    margin: 20px;
    padding-bottom: 5px;
}

.banner_search_nav .search_nav_border {
    min-height: 240px;
    margin: 20px 0;
    width: 1px;
    border-right: solid 1px #c9c9c9;
}

/**注册和找回密码的公共底部样式**/
.reg_footer_nav {
    width: 100%;
    height: 218px;
    padding-top: 70px;
}

.com_footer_copyright .link, .com_footer_copyright p, .reg_footer_nav .link, .reg_footer_nav p {
    text-align: center;
    margin-top: 20px;
}

.com_footer_copyright .link a, .com_footer_copyright .link span, .reg_footer_nav .link a, .reg_footer_nav .link span {
    font-size: 12px;
    color: #666666;
    margin: 0 5px;
}

.com_footer_copyright .link a:hover {
    color: #005BAC;
}

.com_footer_copyright p, .reg_footer_nav p {
    font-size: 12px;
    color: #999999;
}

/**小图标样式**/
.sprite {
    background: url(../imgs/tips/spritesheet.png) no-repeat;
    _background: url(../imgs/tips/spritesheet.jpg) no-repeat;
    display: inline-block;
}

.sprite-arrowDown1 {
    width: 10px;
    height: 6px;
    background-position: -120px -34px;
}

.sprite-arrowDown2 {
    width: 10px;
    height: 10px;
    background-position: -3px -27px;
}

.sprite-arrowDown3 {
    width: 10px;
    height: 6px;
    background-position: -134px -34px;
}

.sprite-arrowDown4 {
    width: 10px;
    height: 6px;
    background-position: -139px -144px;
}

.sprite-arrowRight2 {
    width: 7px;
    height: 13px;
    background-position: -20px -35px;
    vertical-align: -2px;
}

.sprite-arrowRight1 {
    width: 6px;
    height: 10px;
    background-position: -20px -22px;
}

.sprite-arrowRight3 {
    width: 10px;
    height: 16px;
    background-position: -40px -4px;
    vertical-align: -2px;
}

.sprite-arrowRight4 {
    width: 7px;
    height: 10px;
    background-position: -29px -20px;
    position: relative;
    top: 2px;
}

.sprite-arrowUp1 {
    width: 10px;
    height: 6px;
    background-position: -120px -44px;
}

.sprite-arrowUp2 {
    width: 10px;
    height: 11px;
    background-position: -3px -40px;
}

.sprite-arrowUp3 {
    width: 10px;
    height: 6px;
    background-position: -134px -44px;
}

.sprite-coner1 {
    width: 40px;
    height: 37px;
    background-position: -3px -94px;
}

.sprite-coner2 {
    width: 40px;
    height: 37px;
    background-position: -3px -54px;
}

.sprite-rGray {
    width: 12px;
    height: 12px;
    background-position: -17px -3px;;
}

.sprite-rLight {
    width: 12px;
    height: 12px;
    background-position: -2px -3px;
}

.triangle4 {
    width: 6px;
    height: 7px;
    background-position: -258px -133px;
}

.triangle5 {
    width: 10px;
    height: 6px;
    background-position: -139px -136px;
}

.arrow_right5 {
    width: 6px;
    height: 10px;
    background-position: -177px -265px;
}

.arrow_left1 {
    width: 24px;
    height: 46px;
    background-position: -244px -308px;
}

.arrow_right6 {
    width: 24px;
    height: 46px;
    background-position: -271px -308px;
}

/**对勾与感叹号**/
.sprite_success {
    width: 30px;
    height: 26px;
    background-position: -63px -131px;
    vertical-align: -5px;
    padding-left: 10px;
}

.sprite_success_small {
    width: 16px;
    height: 14px;
    background-position: -117px -72px;
    margin-right: 10px;
    vertical-align: -3px;
+ vertical-align : 2 px;
}

.sprite_warning {
    width: 30px;
    height: 26px;
    background-position: -64px -168px;
    vertical-align: -5px;
    padding-left: 10px;
}

.sprite_warning_small {
    width: 16px;
    height: 14px;
    background-position: -72px -212px;
    margin-right: 10px;
    vertical-align: -3px;
+ vertical-align : 2 px;
}

.sprite_complete {
    width: 36px;
    height: 36px;
    background-position: -61px -31px;
    vertical-align: -10px;
    margin-right: 15px;
}

/*删除*/
.sprite-trash {
    width: 15px;
    height: 18px;
    background-position: -60px -3px;
    vertical-align: -5px;
}

/*发表按钮*/
.sprite-publish {
    width: 22px;
    height: 22px;
    background-position: -116px -114px;
    vertical-align: -5px;

}

.sprite-publish-white {
    width: 22px;
    height: 22px;
    background-position: -116px -88px;
    vertical-align: -5px;
}

/*搜索按钮*/
.sprite-search {
    width: 16px;
    height: 16px;
    background-position: -119px -165px;
}

.sprite-search-small {
    width: 13px;
    height: 13px;
    background-position: -139px -166px;
}

.searchInput {
    position: absolute;
    left: 10px;
    top: 10px;
}

.searchInputS {
    position: absolute;
    left: 8px;
    top: 8px;
}

.search4 {
    width: 21px;
    height: 20px;
    background-position: -250px -105px;
}

.sprite-search-white {
    width: 16px;
    height: 16px;
    background-position: -119px -144px;
}

/*下载按钮*/
.sprite-downLoad {
    width: 21px;
    height: 22px;
    background-position: -117px -201px;
    vertical-align: -5px;
    margin: 0 5px;
}

/*列表图标*/
.sprite-list {
    width: 16px;
    height: 12px;
    background-position: -117px -55px;
    margin-right: 10px;
    vertical-align: -1px;
}

/*加号按钮*/
.sprite-plus-white {
    width: 14px;
    height: 14px;
    background-position: -120px -183px;
    vertical-align: -2px;
}

/*删除按钮*/
.sprite-close {
    width: 11px;
    height: 11px;
    background-position: -82px -8px;
}

.sprite-close-blue {
    width: 7px;
    height: 7px;
    background-position: -106px -127px;
    vertical-align: 1px;
    cursor: pointer;
}

.sprite-close-gray {
    width: 7px;
    height: 7px;
    background-position: -106px -138px;
    vertical-align: 1px;
    cursor: pointer;
}

/*下调按钮*/
.sprite-down-black {
    width: 10px;
    height: 10px;
    background-position: -106px -163px;
    vertical-align: -1px;
}

.sprite-down-white {
    width: 10px;
    height: 10px;
    background-position: -106px -150px;
    vertical-align: -1px;
}

/*已认证图标*/
.sprite-verified {
    width: 39px;
    height: 23px;
    background-position: -26px -204px;
    vertical-align: 8px;
    margin-left: -6px;
}

.verified2 {
    width: 46px;
    height: 18px;
    background-position: -96px -331px;
    vertical-align: -3px;
    margin-left: 6px;
}

/*可议价-黄色气泡*/
.sprite-bubble-yellow {
    width: 39px;
    height: 23px;
    background-position: -58px -267px;
}

/*自定义checkbox*/
.sprite-checkbox {
    width: 12px;
    height: 12px;
    background-position: -101px -202px;
    vertical-align: -1px;
}

.sprite-checked {
    width: 12px;
    height: 12px;
    background-position: -101px -216px;
    vertical-align: -1px;
}

/*购物车图标*/
.white-cart {
    width: 20px;
    height: 19px;
    background-position: -207px -106px;
}

.blue-cart {
    width: 20px;
    height: 19px;
    background-position: -207px -127px;
}

/*购物车-白色带竖线*/
.white-cart-line {
    width: 20px;
    height: 18px;
    background-position: -226px -4px;
}

/*警告与错误*/
.login_warn {
    width: 233px;
    height: 25px;
    padding-left: 25px;
    background: #fffaea;
    border: 1px solid #f3d05b;
    line-height: 27px;
    position: relative;
}

.login_error {
    width: 233px;
    height: 25px;
    color: #ee575c;
    padding-left: 25px;
    background: #fee5e6;
    border: 1px solid #ee575c;
    line-height: 27px;
    position: relative;
}

.login_warn .warn {
    width: 12px;
    height: 16px;
    background-position: -38px -31px;
    position: absolute;
    top: 5px;
    left: 10px;
}

.login_error .error {
    width: 16px;
    height: 16px;
    background-position: -2px -212px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.user3 {
    width: 20px;
    height: 18px;
    background-position: -166px -240px;
    margin-right: 8px;
    vertical-align: -4px;
}

/**用户头像和电话小图标**/
.blue_user {
    width: 18px;
    height: 18px;
    background-position: -168px -191px;
    margin-right: 8px;
    vertical-align: -4px;
}

.blue_phone {
    width: 18px;
    height: 18px;
    background-position: -168px -216px;
    margin-right: 8px;
    vertical-align: -4px;
}

/* 闹钟时间图标 */
.pic_time {
    width: 14px;
    height: 13px;
    background-position: -203px -7px;
}

/* 评价图标 */
.five_star {
    width: 20px;
    height: 20px;
    background-position: -210px -193px;
}

.select_five_star {
    width: 20px;
    height: 20px;
    background-position: -210px -171px;
}

.sprite-heart-red {
    width: 20px;
    height: 18px;
    background-position: -250px -4px;
}

.sprite-heart-white {
    width: 20px;
    height: 18px;
    background-position: -250px -51px;
}

.sprite-heart-half {
    width: 20px;
    height: 18px;
    background-position: -250px -27px;
}

.sprite-star3 {
    width: 16px;
    height: 15px;
    background-position: -170px -284px;
}

.sprite-star4 {
    width: 15px;
    height: 15px;
    background-position: -99px -358px;
}

.sprite-star5 {
    width: 15px;
    height: 15px;
    background-position: -116px -358px;
}

.sprite-share1 {
    width: 15px;
    height: 12px;
    background-position: -171px -306px;
}

.search-member {
    width: 20px;
    height: 20px;
    background-position: -277px -105px;
}

.index_left_btn {
    width: 28px;
    height: 49px;
    background-position: -198px -306px;
}

.index_right_btn {
    width: 28px;
    height: 49px;
    background-position: -227px -306px;
}

/**公共头部底部首页小图标**/
.top_home {
    width: 16px;
    height: 15px;
    background-position: -129px -242px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.foot_sp1 {
    width: 50px;
    height: 50px;
    background-position: -3px -393px;
    vertical-align: -16px;
    margin-right: 28px;
}

.foot_sp2 {
    width: 50px;
    height: 50px;
    background-position: -53px -393px;
    vertical-align: -16px;
    margin-right: 28px;
}

.foot_sp3 {
    width: 50px;
    height: 50px;
    background-position: -103px -393px;
    vertical-align: -16px;
    margin-right: 28px;
}

/**材料销售市场小图标**/
.icons {
    background: url(../imgs/tips/sales.png) no-repeat;
    _background: url(../imgs/tips/sales.jpg) no-repeat;
    display: inline-block;
}

.i_ablue {
    width: 10px;
    height: 6px;
    background-position: -1px -2px;
}

.i_agray {
    width: 10px;
    height: 6px;
    background-position: -1px -17px;
}

.i_up {
    width: 10px;
    height: 10px;
    background-position: -25px -39px;
}

.i_down {
    width: 10px;
    height: 10px;
    background-position: -25px -53px;
}

.i_clct {
    width: 15px;
    height: 13px;
    background-position: -19px -19px;
}

.i_clctd {
    width: 15px;
    height: 13px;
    background-position: -19px 0;
}

.i_clctd_gray {
    width: 15px;
    height: 13px;
    background-position: -19px 0;
}

.i_download {
    width: 15px;
    height: 12px;
    background-position: 0 -30px;
}

.i_downloads {
    width: 20px;
    height: 20px;
    background-position: 0 -47px;
}

.i_plus {
    width: 26px;
    height: 26px;
    background-position: -38px -3px;
}

.i_Minus {
    width: 26px;
    height: 26px;
    background-position: -38px -37px;
}

/* 收货地址小图标 */
.big-white-plus {
    width: 14px;
    height: 14px;
    background-position: -213px -154px;
}

/**页码控件**/
.page_container {
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: #ffffff;
    color: #333333;
    font-size: 12px;
}

.page_container .page_container_nav {
    float: right;
    margin-right: 16px;
}

.page_container a {
    margin: 0 2px;
}

.page_container a.page_negative {
    display: inline-block;
    text-align: center;
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: #C9C9C9;
    border: solid 1px #c9c9c9;
    background: #ffffff;
}

.page_container a.page_cur {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: default;
    color: #005BAC;
    font-size: 12px;
    font-weight: bolder;
    cursor: default;
}

.page_container a.page_num {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bolder;
    border: solid 1px #c9c9c9;
    background: #F6F6F6;
}

.page_container span.page_break {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: default;
    font-size: 10px;
    font-weight: bolder;
}

.page_container a.page_active {
    display: inline-block;
    text-align: center;
    width: 70px;
    height: 30px;
    line-height: 30px;
    border: solid 1px #c9c9c9;
    background: #F6F6F6;
}

.page_container span.page_total {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
}

.page_container span.page_skip input {
    width: 30px;
    margin: 0 5px;
    text-align: center;
    border: solid 1px #c9c9c9;
}

.page_container span.page_skip input:focus {
    border-color: #005BAC;
}

.page_container a.page_confirm {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 30px;
    line-height: 30px;
    background: #F6F6F6;
    border: solid 1px #c9c9c9;
    border-radius: 5px;
    margin-left: 5px;
}

/**输入框搜索样式**/
.suggest_warp {
    display: none;
    position: absolute;
    border-top: none;
    box-shadow: 0px 3px 5px #c9c9c9;
    background: #ffffff;
    padding-bottom: 10px;
    z-index: 1;
}

.suggest_warp li {
    padding: 2px 8px;
    height: 20px;
}

.suggest_warp li a {
    display: block;
    position: relative;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: #666666;
}

.suggest_warp li.active a, .suggest_warp li:hover a {
    color: #ff5959;
}

/**下拉控件样式**/
.drop_down {
    position: relative;
    margin: 0 auto;
}

.drop_down .top_drop {
    padding: 0px 7px;
    margin: 0 auto;
}

.drop_hover .top_drop {
    box-shadow: 0px 0px 5px #c9c9c9;
}

.drop_down .top_drop a {
    display: inline;
    color: #333333;
    font-size: 14px;
    padding: 4px 0;
}

.drop_hover .top_drop i {
    background-position: -120px -44px;
}

.drop_down ul {
    display: none;
    position: absolute;
    border-top: none;
    box-shadow: 0px 3px 5px #c9c9c9;
    background: #ffffff;
    padding-bottom: 10px;
}

.drop_hover ul {
    display: block;
}

.drop_down ul li {
    padding: 2px 8px;
    height: 20px;
}

.drop_down ul li a {
    display: block;
    position: relative;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}

.drop_down ul li.active a, .drop_down ul li:hover a {
    color: #ff5959;
}

/*搜索中的下拉*/
.search_down {
    position: relative;
    margin: 0 auto;
}

.search_down .top_search {
    padding: 0px 7px;
    margin: 0 auto;
    cursor: pointer;
}

.search_hover .top_search {
    box-shadow: 0px 0px 5px #c9c9c9;
}

.search_down .top_search a {
    display: inline;
    color: #333333;
    font-size: 14px;
    padding: 4px 0;
}

.search_hover .top_search i {
    background-position: -120px -44px;
}

.search_down ul {
    display: none;
    position: absolute;
    border-top: none;
    box-shadow: 0px 3px 5px #c9c9c9;
    background: #ffffff;
    padding-bottom: 10px;
}

.search_hover ul {
    display: block;
}

.search_down ul li {
    padding: 2px 8px;
    height: 20px;
}

.search_down ul li a {
    display: block;
    position: relative;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.search_down ul li.active a, .search_down ul li:hover a {
    color: #ff5959;
}

/*地址选择 */
.drop_hover ul {
    display: block !important;
}

.area_input {
    position: relative;
    margin-right: 40px;
}

@-moz-document url-prefix() {
    .area_input input {
        padding: 5px 10px;
    }
    .material_ctrl .recom li input[type="checkbox"] {
        top: 4px;
    }
}

.drop_hover .area_select_pane {
    display: block;
}

.area_select_pane {
    display: none;
    width: 420px;
    height: 350px;
    background-color: #ffffff;
    border: solid 1px #c9c9c9;
    left: 64px;
    top: 29px;
    float: left;
    position: absolute;
    z-index: 999;
    font-size: 14px;
}

.area_select_pane a {
    border: none;
}

.area_select_pane li {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.area_select_pane li.area {
    padding: 5px 10px;
}

.area_select_tab {
    height: 30px;
    margin: 15px 20px;
    border-bottom: solid 2px #005BAC;
}

.area_select_tab ul i {
    position: absolute;
    top: 13px;
    right: 2px;
}

.area_select_pane .area_select_tab li a {
    display: inline-block;
    padding: 0 20px;
    height: 28px;
    line-height: 28px;
    top: -2px;
    position: relative;
    border: solid 1px #f4f4f4;
    border-bottom: none;
    padding-left: 15px;
    text-align: left;
}

.area_select_tab li a.active {
    height: 30px;
    top: 0px;
    border: solid 2px #005BAC;
    border-bottom: none;
    background-color: #ffffff;
    color: #333333;
}

.area_select_pane .area_select_con li a {
    display: inline-block;
    line-height: 2;
}

.display_none {
    display: none;
}

.select_list {
    margin-left: 20px;
}

.area_sel_close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none !important;
}

.area_input input.hover {
    border-bottom: none !important;
    position: relative;
    top: 1px;
    z-index: 1000;
}

/**按钮背景颜色**/
.btn_red {
    background: #ff5959 repeat-x;
    border: solid 1px #ff5959;
    color: #ffffff !important;
}

.btn_blue {
    background: #005BAC repeat-x;
    border: solid 1px #005BAC;
    color: #ffffff !important;
}

.btn_black {
    background: #000000 repeat-x;
    border: solid 1px #000000;
    color: #ffffff !important;
}

.btn_yellow {
    background: url(../imgs/background/btnBgYellow.png) repeat-x;
    border: solid 1px #FFCF9B;
    color: #666666 !important;
}

.btn_white {
    background: #fff;
    border: solid 1px #c9c9c9;
    color: #666666 !important;
}

.btn_green {
    background: url(../imgs/background/btnBgGreen.png) repeat-x;
    border: solid 1px #7CC65F;
    color: #ffffff !important;
}

/**公共弹框样式**/
.dialog_fra {
    position: absolute;
    z-index: 100;
    border: solid 1px #c9c9c9;
    box-shadow: 0px 1px 5px #c9c9c9;
    -moz-box-shadow: 0px 1px 5px #c9c9c9;
    background-color: #ffffff;
}

.dialog_fra_head {
    height: 48px;
    line-height: 48px;
    background: #F5F5F5;
    cursor: move;
}

.dialog_fra_head span {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    margin-left: 32px;
}

.dialog_fra_head a.dialog_close {
    position: absolute;
    float: right;
    right: 14px;
    margin: 14px 0;
    width: 20px;
    height: 20px;
    background: url("../imgs/tips/spritesheet.png") no-repeat;
    _background: url("../imgs/tips/spritesheet.jpg") no-repeat;
    background-position: -250px -78px;
}

.dialog_fra_body {
    background: #ffffff;
}

.dialog_fra_body .dialog_fra_container {
    padding: 50px 32px 0;
}

.dialog_fra_body .dialog_fra_line {
    border-top: solid 1px #c9c9c9;
    margin: 0 32px;
}

.dialog_fra_body .dialog_fra_handle {
    margin: 40px 20px 70px;
    text-align: center;
}

.dialog_fra_handle .dialog_btn_confirm {
    display: inline-block;
    width: 60px;
    height: 28px;
    line-height: 28px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
}

.dialog_fra_handle .dialog_btn_cancel {
    display: inline-block;
    width: 60px;
    height: 28px;
    line-height: 28px;
    border-radius: 5px;
    color: #333333;
    font-size: 12px;
}

/**弹框信息提示样式**/
.dialog_tips_con {
    text-align: center;
    padding-bottom: 70px;
}

.dialog_tips_con i {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url("../imgs/tips/spritesheet.png") no-repeat;
    _background: url("../imgs/tips/spritesheet.jpg") no-repeat;
}

.dialog_tips_con i.tips_success {
    background-position: -61px -31px;
    vertical-align: -10px;
}

.dialog_tips_con i.tips_warning {
    width: 30px;
    height: 26px;
    background-position: -64px -168px;
    vertical-align: -5px;
}

.dialog_tips_con span {
    font-size: 18px;
    color: #005BAC;
    text-align: left;
    font-weight: bolder;
    margin-left: 14px;
}

/**弹框信息确认样式**/
.dialog_cue_con {
    /*margin-bottom: 40px;*/
}

.dialog_cue_con .dialog_cue_title {
    font-family: 宋体;
    font-size: 18px;
    font-weight: bolder;
    color: #666666;
    padding: 5px 50px;
}

.dialog_cue_con .dialog_cue_info {
    font-size: 12px;
    color: #999999;
    padding: 10px 92px;
}

/**弹框登录样式**/
.login_fra {
    padding: 0 20px;
}

.login_fra .login_nav {

}

.login_nav label {
    display: inline-block;
    width: 80px;
    font-size: 14px;
    text-align: right;
    margin-right: 10px;
}

.safe .checkbox {
    margin-right: 4px;
    vertical-align: -1px;
    padding: 0;
}

.verify_link {
    display: inline-block;
    width: 90px;
    height: 38px;
    border: 1px solid #C9C9C9;
    float: right;
}

.verify_img {
    width: 100%;
    height: 100%;
}

.loginDialog_tips {
    left: 142px;
    position: absolute;
    top: 70px;
}

/**遮罩层样式**/
.pageBg {
    background-color: gray;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    filter: Alpha(opacity=0);
    z-index: 99;
}

.pageBgPic {
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    z-index: 99;
}

/**公共弹框样式**/

/**公共tips样式**/
.tips_box {
    color: #005BAC;
    background-color: #F4F4F4;
    padding: 8px 8px;
}

.tips_box span.con {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    border-left: dashed 1px #005BAC;
}

/**公共tips样式**/
/**分享微信弹框**/
.shareBox {
    width: 168px;
    height: 188px;
    background-color: #ffffff;
    color: #666666;
    border: solid 1px #E5E5E5;
}

.shareBox div {
    text-align: center;
    margin-top: 10px;
}

/**弹框中的日历**/
.icon_calendar {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    margin-right: 5px;
    width: 15px;
    height: 16px;
    right: 0px;
    font-size: 0;
    background: url(../imgs/tips/spritesheet.png) no-repeat -45px -178px;
    _background: url(../imgs/tips/spritesheet.jpg) no-repeat -45px -178px;
}

.calendar_nav {
    display: inline-block;
    position: relative;
}

.colorefefef {
    background-color: #efefef;
}

.ss-img {
    width: 1200px;
    margin: 0 auto;
}

/**表格为空样式**/
.empty_table {
    height: 100px !important;;
    font-size: 14px;
    color: #999;
    text-align: center !important;
    border-bottom: 1px solid #e5e5e5 !important;;
    margin-top: 20px !important;;
}

/* 浮动侧边栏小工具 */
.right_tool {
    position: fixed;
    right: 0;
    bottom: 132px;
    z-index: 999;
}

.tool_content {
    width: 50px;
    height: 250px;
}

.tool_content li, .tool_content a {
    display: block;
    width: 50px;
    height: 50px;
}

.tool_content a {
    background: url(../imgs/tips/tool.jpg) no-repeat;
}

.tool_content .new_post {
    background-position: 0 -50px;
}

.tool_content .enter_cart {
    background-position: -50px 0;
}

.tool_content .enter_cart:hover {
    background-position: -50px -50px;
}

.tool_content .qr_code {
    background-position: -100px 0;
}

.tool_content .qr_code:hover {
    background-position: -100px -50px;
}

.tool_content .new_service {
    background-position: -150px 0;
}

.tool_content .new_service:hover {
    background-position: -150px -50px;
}

.tool_content .backup {
    background-position: -200px 0;
}

.tool_content .backup:hover {
    background-position: -200px -50px;
}

.relative {
    position: relative;
}

.enter_cart .cart_num {
    position: absolute;
    top: 4px;
    left: 26px;
}

.service_tips {
    position: absolute;
    top: 0;
    left: 8px;
}

.service_triangle {
    display: block;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #fff;
    position: absolute;
    top: 18px;
    left: -9px;
    z-index: 111;
}

.service_square {
    padding: 18px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 4px 0 #d9d9d9;
    position: absolute;
    top: 0;
    left: -198px;
    z-index: 110;
}

.service_square p {
    width: 152px;
    font-size: 12px;
    color: #666;
    margin-bottom: 24px;
}

.service_square p span {
    display: block;
    margin-top: 4px;
}

.service_square img {
    width: 152px;
}

#tooltips {
    position: absolute;
}

.tooltips_user {
    padding: 10px 12px;
    background-color: #f4f4f4;
}

.tooltips_user p {
    font-size: 14px;
    color: #005BAC;
    height: 24px;
    line-height: 24px;
}

.tooltips_user span {
    display: inline-block;
    border-left: 1px dashed #005BAC;
    padding-left: 10px;
}