<div class="com_index_menu">
    <div class="com_header_menu width1200">
        <ul class="header_menuList">

            <li class="categorys">
                <div class="dt_all">
                    <a href="javascript:;"><i class="sprite sprite-list"></i>全部分类</a>
                </div>
                <div class="dd_mask"></div>
                <div class="dd_separate">
                    <div class="dd_inner">
                        <p class="dd_item">
                            <a href="javascript:;">贝雷<i class="sprite"></i></a>
                        </p>
                        <p class="dd_item">
                            <a href="javascript:;">贝雷<i class="sprite"></i></a>
                        </p>
                        <p class="dd_item">
                            <a href="javascript:;">贝雷<i class="sprite"></i></a>
                        </p>
                        <p class="dd_item">
                            <a href="javascript:;">贝雷<i class="sprite"></i></a>
                        </p>
                        <p class="dd_item">
                            <a href="javascript:;">贝雷<i class="sprite"></i></a>
                        </p>
                        <p class="dd_item">
                            <a href="javascript:;">贝雷<i class="sprite"></i></a>
                        </p>
                        <p class="dd_item">
                            <a href="javascript:;">贝雷<i class="sprite"></i></a>
                        </p>
                        <p class="dd_item">
                            <a href="javascript:;">贝雷<i class="sprite"></i></a>
                        </p>
                    </div>
                    <div class="dropdown_layer" style="display: block;">
                        <div class="layer_sub" style="display: block;">
                            <div class="sub_item border_bottom">
                                <p><span>品名</span></p>
                                <div>
                                    <a href="http://lease.wujigang.cn/?p=329">贝雷片</a>
                                    <a href="http://lease.wujigang.cn/?p=329">贝雷片</a>
                                    <a href="http://lease.wujigang.cn/?p=329">贝雷片</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="/index/index" class="grayTxt1 textC active">首页</a></li>
            <li><a href="http://lease.wujigang.cn/" class="grayTxt1 textC ">租赁商城</a></li>
            <li><a href="/rent/index" class="grayTxt1 textC ">撮合集市</a></li>
            <li><a href="/techstandard/index" class="grayTxt1 textC ">行业标准</a></li>
        </ul>
    </div>
</div>